@{
	ViewBag.Title = "Home Page";
}



<div  style="padding: 0 25%">
	<div class="row">
		<h1>Parse text to XML or CSV</h1>
		<h5>Input your text: </h5>

		<textarea id="textToParse" rows="10" cols="150"></textarea>
		<div class="col-md-12 parseLink">
			<div class="col-md-2 parseLink">
				<div class="btn btn-primary" onclick="parseDoc('XML');">To XML</div>
			</div>
			<div class="col-md-2 parseLink">
				<div class="btn btn-primary" onclick="parseDoc('CSV');">To CSV</div>
			</div>
			<div class="col-md-5 parseLink">
			</div>
			<div class="col-md-2 parseLink">
				<a class="btn btn-primary" href="api/text">Show last in new tab</a>
			</div>
		</div>
	</div>

	<h5>Result: </h5>
	<img id="loadingimage" height="70" src="~/Content/ajax-loader-large.gif" hidden="" />
	<pre class="row" hidden id="responsBody">
	</pre>
</div>